body {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.App {
	text-align: center;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgb(59, 57, 57);
	color: #fff;
	height: 80px;
}
